{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container">
        <h1>Contactez-nous</h1>
        <ul>
            <li><strong>Email :</strong> contact@example.com</li>
            <li><strong>Téléphone :</strong> +1 123 456 789</li>
            <li><strong>Adresse :</strong> 123 Rue de l'Exemple, Ville, Pays</li>
        </ul>
    </div>
{% endblock %}
