/* Réinitialisation des marges et des paddings pour tous les éléments */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

header {
  color: black;
  height: 5em;
  text-align: center;
  padding: 3.5em 0 3.2em;
  border-radius: 0 0 35% 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
}

header p {
  margin: 1em;
  font-size: 1.5em;
  font-weight: 600;
}

.carousel {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

.carousel-cell {
  width: calc(33.33% - 20px); /* Ajustement pour la marge */
  margin: 10px;
  padding: 10px, 0, 30px;
  border: 2px black solid;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.carousel-cell .book {
  height: 65%;
  overflow: hidden; /* Assure que l'image ne dépasse pas le conteneur */
}

.book {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5%;
}

.auteur {
  margin-bottom: 5px;
}
.nameBook {
  font-size: larger;
  
  text-transform: capitalize;
}
.buttonBook {

  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  color: #111;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 16px;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
  margin: auto;

}

.buttonBook:hover {
  background-color: #ffdeda;
  color: #111;
}

.buttonBook:active {
  background-color: #ffdeda;
}

.EnvyList {
  width: 70%;
  margin: auto;
  display: flex;
}

.ListeEnvies h2 {
  font-size: 1.5em;
  margin: 1.5em auto ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 30%;
  padding: 1em 0;
}

.ListeEnvies span {
  animation: float 6s ease-in-out infinite;
}

.envyCarousel {
  width: calc(33.33% - 20px); /* Ajustement pour la marge */
  margin: 10px;
  padding: 10px;
  border: 2px black solid;
  border-radius: 20px;
  text-align: center;
  position: relative;
}


.mr-auto  a:hover {
color: black;
font-weight: 800;
}


#navbarNav {
  justify-content: space-between;
}

.rating_input {
  width : 40%;
}


.reviews-container {
  display: flex;
  flex-wrap: wrap;
}

.review {
  display: inline-block;
}

.btnCenter {
  display: block;
  margin: auto;
  width: fit-content;
 
}
.centered-form {
  width: 60%; /* 60% de la largeur de la page */
  margin: 0 auto; /* Centre horizontalement */
}
