{% extends 'base.html.twig' %}

{% block title %}Nouvelle lecture{% endblock %}

{% block body %}
    <h1>Livre fini ?</h1>

    {{ include('review/_form.html.twig') }}

    <a href="{{ path('app_review_index') }}">Retour à tes lectures</a>
{% endblock %}
